<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body onload="renderBody()">
<div style="background-color: #c0d7ee">
    <small>
        {RELOAD_INFO}
    </small>
</div>

<div class="tbltitle">
    <h3>{TBL_TITLE}</h3>

</div>
<div class="ilTableOuter table-responsive">
    <table class="fullwidth_invisible">
        <thead>
        <th class="tblheader">{VERSION}</th>
        <th class="tblheader">{CREATED}</th>
        <th class="tblheader">{EDITOR}</th>
        <th class="tblheader">{DOWNLOAD}</th>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
</div>
<br/>
<div style="text-align: right">
    <button type="button" onclick="window.location.href='{FORWARD}'" class="btn btn-primary btn-lg">
        {BUTTON}
    </button>
</div>
</body>

<script type="text/javascript">
  function renderBody() {
    const url_array = JSON.parse('{URL}');
    const base_url = '{BASE_URL}';
    const data = JSON.parse('{TBL_DATA}');
    let table = "";
    for (let i = 0; i < data.length; i++) {
      var rowData = data[i];
      var version = rowData.version;
      var url = url_array[version];
      if (i % 2 === 0)
        table += "<tr class='tblrow1'>";
      else
        table += "<tr class='tblrow2'>";

      table += "<td>" + version + "</td>";
      table += "<td>" + rowData.createdAt + "</td>";
      table += "<td>" + rowData.user + "</td>";
      table += "<td> " +
        "<a href='" + url + "'>" + //ToDo: Does not work
        "<button><i class=\"fa fa-download\"></i></button" +
        "></a>";
      table += "</tr>";
    }
    document.getElementById("table_body").innerHTML = table;
  }
</script>






