<head>
    <title>ILIAS: {FILE_TITLE}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<header style="position: fixed; top: 0; left: 0; right: 0; height: auto">
    <button type="button" onclick="window.location.href='{RETURN}'" class="btn btn-basic btn-lg btn-block">{BUTTON}</button>
</header>
<div id="content" style="position: fixed; bottom: 0px; top: 46px; left: 0px; right: 0px">
<div id="xono_editor"></div>
<script type="text/javascript" src="{SCRIPT_SRC}"></script>
<script type="text/javascript">

  var history_data_array = JSON.parse('{HISTORY_DATA}');
  var is_limited = ("{IS_LIMITED}" === '1');
  var start_time_utc = null;
  var end_time_utc = null;
  var time_up_txt = "{TIME_UP_TXT}";
  var time_was_up_txt = "{TIME_WAS_UP_TXT}";
  var edit_period_txt = "{EDIT_PERIOD_TXT}";
  var within_potential_time_limit_on_start = ("{WITHIN_POTENTIAL_TIME_LIMIT}" === '1');

  var onAppReady = function () {
      if (is_limited && !within_potential_time_limit_on_start) {
          docEditor.showMessage(time_was_up_txt);
      }
      if (is_limited && within_potential_time_limit_on_start) {
          docEditor.showMessage(edit_period_txt);
      }
  };

  var onRequestHistory = function(event) {
    docEditor.refreshHistory({
      "currentVersion": {LATEST},
      "history": {HISTORY}
    });
  };

  var onRequestHistoryData = function(event) {
    var version = event.data;
    if (version > 1) {
        docEditor.setHistoryData(history_data_array[version]);
    }
  };

  var onDocumentStateChange = function (event) {

      fetch('https://worldtimeapi.org/api/timezone/Etc/UTC')
          .then(response => response.json())
          .then(data => {
              if (is_limited) {
                  if (!(data.unixtime > start_time_utc.getTime() / 1000 && data.unixtime < end_time_utc.getTime() / 1000)) {
                      docEditor.denyEditingRights(time_up_txt);
                  }
              }
          })
          .catch(error => {
             // console.error('There has been a problem with your JavaScript time fetch operation, using local system time instead:', error);
              if (is_limited) {
                  var now = new Date();
                  if (!(now.getTime() > start_time_utc.getTime() && now.getTime() < end_time_utc.getTime())) {
                      docEditor.denyEditingRights(time_up_txt);
                  }
              }
          });
  };


  if (is_limited) {
      start_time_utc = new Date("{START_TIME}Z");
      end_time_utc = new Date(new Date("{END_TIME}Z"));
  }

  var docEditor = new DocsAPI.DocEditor("xono_editor", {CONFIG});



</script>
</div>
