<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="renderBody()">
<br/>
<div class="ilTableOuter table-responsive">
    <table class="table table-striped fullwidth">
        <thead>
        <th class="tblheader">{TYPE_HEADER}</th>
        <th class="tblheader">{TITLE_HEADER}</th>
        <th class="tblheader">{DESCRIPTION_HEADER}</th>
        <th class="tblheader">{EXTENSION_HEADER}</th>
        <th class="tblheader">{SETTINGS_HEADER}</th>
        </thead>
        <tbody id="table_body">
        <!-- BEGIN entry -->
        <tr>
            <td>{TYPE}</td>
            <td>{TITLE}</td>
            <td>{DESCRIPTION}</td>
            <td>{EXTENSION}</td>
            <td>{SETTINGS}</td>
        </tr>
        <!-- END entry -->
        </tbody>
    </table>
</div>


</body>

<script type="text/javascript">

  function renderBody() {
    const url_array = JSON.parse('{URL}');
    const base_url = '{BASE_URL}';
    const data = JSON.parse('{TBL_DATA}');
    let table = "";
    let limit = Math.min(data.length, {LIMIT})
    for (let i = 0; i < limit ; i++) {
      var rowData = data[i];
      var version = rowData.version;
      var url = url_array[version];
      if (i % 2 === 1)
        table += "<tr class='tblrow1'>";
      else // i % 2 == 0
        table += "<tr class='tblrow2'>";

      table += "<td class='std'>" + version + "</td>";
      table += "<td class='std'>" + rowData.createdAt + "</td>";
      table += "<td class='std'>" + rowData.user + "</td>";
      table += "<td class='std small'> " +
        "<a href='" + url + "'>" +
        "<button class='btn btn-default'><i class=\"fa fa-download\"></i></button" +
        "></a>";
      table += "</tr>";
    }
    document.getElementById("table_body").innerHTML = table;
  }
</script>






