<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body onload="renderBody()">
<div class="tbltitle">
    <h3>{TBL_TITLE}</h3>

</div>
<div class="ilTableOuter table-responsive">
    <table class="table table-striped fullwidth">
        <thead>
        <th class="tblheader">{VERSION}</th>
        <th class="tblheader">{CREATED}</th>
        <th class="tblheader">{EDITOR}</th>
        <th class="tblheader">{DOWNLOAD}</th>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
</div>
<br/>
<div style="text-align: right">
    <button type="button" onclick="window.location.href='{FORWARD}'">
        {BUTTON}
    </button>
</div>
</body>

<script type="text/javascript">
  function renderBody() {
    const url_array = JSON.parse('{URL}');
    const base_url = '{BASE_URL}';
    const data = JSON.parse('{TBL_DATA}');
    let table = "";
    for (let i = 0; i < data.length; i++) {
      var rowData = data[i];
      var version = rowData.version;
      var url = url_array[version];
      if (i % 2 === 1)
        table += "<tr class='tblrow1'>";
      else // i % 2 == 0
        table += "<tr class='tblrow2'>";

      table += "<td class='std'>" + version + "</td>";
      table += "<td class='std'>" + rowData.createdAt + "</td>";
      table += "<td class='std'>" + rowData.user + "</td>";
      table += "<td class='std small'> " +
        "<a href='" + url + "'>" +
        "<button class='btn btn-default'><i class=\"fa fa-download\"></i></button" +
        "></a>";
      table += "</tr>";
    }
    document.getElementById("table_body").innerHTML = table;
  }
</script>






