#This is the environment variable file for docker-compose enterprise edition
#2023-01-30

JWT_ENABLED=true
JWT_SECRET=<your_secret-pw_as_set_in_ilias>
JWT_HEADER=Authorization
JWT_IN_BODY=true
#LETS_ENCRYPT_DOMAIN=<domain_of_your_docker_server>
#LETS_ENCRYPT_MAIL=<your_email_address>
