###from https://github.com/ONLYOFFICE/document-server-proxy/blob/master/nginx/proxy-to-virtual-path.conf

upstream onlyoffice {
        server localhost:8080;
}

map $http_x_forwarded_proto $the_scheme {
     default $http_x_forwarded_proto;
     "" $scheme;
}

map $http_x_forwarded_host $the_host {
    default $http_x_forwarded_host;
    "" $host;
}

map $http_upgrade $proxy_connection {
  default upgrade;
  "" close;
}

proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection $proxy_connection;
proxy_set_header X-Forwarded-Host $the_host;
proxy_set_header X-Forwarded-Proto $the_scheme;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;


server {
        listen 80;
        server_name <your_server_name>;

        # http to https
        rewrite ^(.*) https://$host$1 permanent;

}

server {
        listen 443 ssl;

        location / {
        proxy_pass http://onlyoffice;
        proxy_http_version 1.1;
        }

        server_name <your_server_name>;

        #path to certs
        ssl_certificate <path_to_fullchain.pem>;
        ssl_certificate_key <path_to_privkey.pem>;

        #define ciphers
        ssl_prefer_server_ciphers on;
        ssl_ciphers ECDH+AESGCM:ECDH+AES256-CBC:ECDH+AES128-CBC:DH+3DES:!ADH:!AECDH:!MD5;

        #add HSTS (make browser contact server only via https for specified amount of time)
        add_header Strict-Transport-Security "max-age=31536000" always;

        #define ssl_protocols
        ssl_protocols TLSv1.2 TLSv1.3;

}
